<html>
	<head>
		<title> Letter from Jin </title>
	</head>
	<body>
		<div>
			<h1><a href="">Letter</a></h1>
		</div>

		<div>
			
			<h2><a href="">Dear Lucy</a></h2>
			<p>I'm writing this while i talk to you hehe</p>
			<p>We had many argues, but i think we had happy time much more </p>
			<p>You are only person make me happy,smile. I wanna be with you forever, i wish you think same too</p>
			<p>Soryy for arguing really, i'll not make it again</p>
			<p>I wanna make you happy always, i love your laugh, smile</p>
			<p>I'm really happy to meet you and have you</p>
			<p>I'll make you happy for other time of our 50th day and life : ) </p>
			
			<p><em>published: 17.02.2021, 20:35</em>></p>
		</div>

		
	</body>

</html>